@import "../../package/css/main/index.less";

@font-face {
  font-family: "icon-font";
  src: url("./icon-font/iconfont.ttf");
}
.vi-icon {
  font-family: "icon-font";
  font-size: @root-font-size;
  font-style: normal;
  font-weight: normal;
  display: inline;
}
// 添加 - 支付类型颜色的
.vi-text.is-color--card {
  color: @color-card;
}
.vi-text.is-color--wx {
  color: @color-wx;
}
.vi-text.is-color--ali {
  color: @color-ali;
}
.vi-text.is-color--union {
  color: @color-union;
}
// 添加 - 按钮
.vi-btn.is-btn--pack.is-btn--ali {
  background-color: @color-ali;
  color: #fff;
}
.vi-btn.is-btn--pack.is-btn--wx {
  background-color: @color-wx;
  color: #fff;
}
// 页面 - 主要样式
.vv-page.is-page--max {
  max-width: 400px;
}
.vv-page.is-page--center {
  margin: 0 auto;
}
// 页面 - 主要样式 - 底部悬浮
.vv-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.vv-footer.is-footer--shadow {
  box-shadow: @shadow-top;
}
.vv-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

// 页面 - 申诉详情 - 主要样式
.vv-chat {
  padding: @padding-medium;
}
.vv-chat-row {
  display: flex;
  align-items: center;
  margin-bottom: @margin-medium;
}
.vv-chat-tag {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.vv-chat-content {
  flex: 1;
  position: relative;
  display: flex;
}
.vv-chat-message {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: @padding-medium;
}

.vv-chat-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  font-size: 0;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.vv-chat-row.is-row--left .vv-chat-tag {
  background-color: @color-danger;
}
.vv-chat-row.is-row--right .vv-chat-tag {
  background-color: @color-warning;
}

.vv-chat-row.is-row--left .vv-chat-content {
  margin-right: 40px;
  margin-left: 8px;
  justify-content: flex-start;
}
.vv-chat-row.is-row--right .vv-chat-content {
  margin-right: 8px;
  margin-left: 40px;
  justify-content: flex-end;
}

.vv-chat-row.is-row--left .vv-chat-message {
}
.vv-chat-row.is-row--right .vv-chat-message {
}

.vv-chat-row.is-row--left .vv-chat-arrow {
  left: -12px;
  border-color: transparent #fff transparent transparent;
}
.vv-chat-row.is-row--right .vv-chat-arrow {
  right: -12px;
  border-color: transparent transparent transparent #fff;
}

// 添加 - 变量
@border-color: fade(#d7dde4, 40);
@color-card :#e1bf53; // 银行卡
@color-wx: #22aa3e; // 微信
@color-ali: #118eea; // 阿里
@color-union : #f9291f; // 云闪付
